extends ../layout



block content
  -const genreMap = {    action: 'iconic--cat-action',    adventure: 'iconic--cat-adventure',    arcade: 'iconic--cat-arcade',   mmo: 'iconic--cat-mmo',    rpg: 'iconic--cat-rpg',    sim: 'iconic--cat-sim',    sport: 'iconic--cat-sport',    strategy: 'iconic--cat-strategy',    default: 'iconic--arr-full-l',  }

  .product-page.container
    .product-page__header Купить #{product.name}
    
    .row
      .product-page__left-sidebar.col-12.col-md-4
        .product-page__page-block.product-page__page-block--no-pad.page-block
          .product-page__game-logo
            img.product-page__game-image(src="/images/"+product.defaultImage, alt="")
          .product-page__genres-list
            each genre in product.genres
              .product-page__genre-item
                span(class=genreMap[genre.toLowerCase()] || genreMap.default).product-page__genre-img
                span.product-page__genre-name=genre

      .product-page__right-sidebar.col-12.col-md-8
        .product-page__page-block.page-block
          .product-page__block-header Системные требования

          .product-page__requirements
            each req in product.requirements 
              .product-page__requirements-item
                .product-page__requirements-option=req.option+':'
                .product-page__requirements-value=req.value  

          .product-page__buy-section
            .product-page__price=product.price + ' ₽'
            .product-page__buy-button.button#add-product-btn Купить
  
        .product-page__page-block.page-block
          .product-page__block-header Описание
            p.product-page__description=product.description
//- TODO: add categories' link
              
            